Repository FIS2425/authorization-svc, pull requests merged in 2024-11, with the labels that each got.

#25 Config/4 docker image
  .github/workflows/docker-deploy.yml
  docker-compose.yml
  src/index.js
Labels: 🚀 CI/CD, 🐳 Build, size/s

#26 feat: replaced template files
  README.md
  openapi.yaml
  package-lock.json
  package.json
  src/controllers/templateController.js
  src/controllers/userController.js
  src/routes/templateRoute.js
  src/routes/userRoutes.js
  src/schemas/User.js
  src/schemas/templateSchema.js
Labels: 📦 Dependencies, 🚀 Feature, 📝 Documentation, size/s

#27 Feature/6 database schemas
  openapi.yaml
  package-lock.json
  package.json
  populators/User.js
  src/schemas/User.js
Labels: 📦 Dependencies, 🚀 Feature, 😎 size/m

#29 Feature/9 login
  .env.example
  .gitignore
  docker-compose.yml
  eslint.config.mjs
  openapi.yaml
  package-lock.json
  package.json
  populators/User.js
  src/api.js
  src/config/index.js
  src/config/redis.js
  src/controllers/userController.js
  src/routes/userRoutes.js
  src/schemas/User.js
  tests/integration/controllers/dummy
  tests/integration/controllers/userController.test.js
  tests/setup/database.js
  tests/setup/setup.js
  tests/unit/controllers/dummy
  tests/unit/controllers/userController.test.js
Labels: 📦 Dependencies, 🚀 Feature, 🧪 Tests, ⚙️ Configuration, 😖 size/l, 🐳 Build

#30 chore: updated workflows to run on develop
  .github/workflows/docker-deploy.yml
  .github/workflows/test.yml
Labels: 🚀 CI/CD, 🐳 Dockerize, size/xs

#33 fix: added testing environment to workflow
  .github/workflows/docker-deploy.yml
  .github/workflows/test.yml
Labels: 🚀 CI/CD, size/xs

#35 Feature/21 verify token validity
  .gitignore
  eslint.config.mjs
  openapi.yaml
  package-lock.json
  package.json
  src/api.js
  src/controllers/userController.js
  src/controllers/validationController.js
  src/middleware/validationMiddleware.js
  src/routes/validationRoutes.js
  tests/integration/controllers/validationController.test.js
  tests/integration/middleware/dummy
  tests/unit/controllers/validationController.test.js
  tests/unit/middleware/dummy
  tests/unit/middleware/validationMiddleware.test.js
  vitest.config.js
Labels: 📦 Dependencies, 😎 size/m, 🧪 Tests, ⚙️ Configuration

#32 Feature/7 create user
  openapi.yaml
  populators/User.js
  src/controllers/userController.js
  src/middleware/authMiddleware.js
  src/middleware/validationMiddleware.js
  src/routes/userRoutes.js
  src/schemas/User.js
  tests/integration/controllers/userController.test.js
  tests/integration/controllers/validationController.test.js
  tests/unit/controllers/userController.test.js
  tests/unit/controllers/validationController.test.js
  tests/unit/middleware/authMiddleware.test.js
  tests/unit/middleware/validationMiddleware.test.js
Labels: 🧪 Tests, 😖 size/l

#40 Feature/23 get user
  openapi.yaml
  src/controllers/userController.js
  src/middleware/authMiddleware.js
  src/middleware/validationMiddleware.js
  src/routes/userRoutes.js
  tests/integration/controllers/userController.test.js
  tests/integration/controllers/validationController.test.js
  tests/unit/controllers/userController.test.js
  tests/unit/middleware/authMiddleware.test.js
Labels: 😎 size/m, 🧪 Tests

#42 Feature/13 edit user
  openapi.yaml
  src/controllers/userController.js
  src/middleware/authMiddleware.js
  src/routes/userRoutes.js
  src/validators/userValidator.js
  tests/unit/middleware/authMiddleware.test.js
Labels: 😎 size/m, 🧪 Tests

#45 Feature/44 index redis
  src/config/redis.js
  src/controllers/userController.js
  src/middleware/validationMiddleware.js
  tests/integration/controllers/userController.test.js
  tests/integration/controllers/validationController.test.js
  tests/setup/database.js
  tests/setup/setup.js
Labels: 🚀 Feature, 😎 size/m, 🧪 Tests

#47 Feature/41 set role permissions
  openapi.md
  openapi.yaml
  populators/Role.js
  populators/User.js
  src/middleware/authMiddleware.js
  src/routes/userRoutes.js
  src/schemas/Role.js
  tests/integration/controllers/userController.test.js
  tests/unit/controllers/userController.test.js
  tests/unit/middleware/authMiddleware.test.js
Labels: 🧪 Tests, 😖 size/l

#52 test: added edit user tests
  tests/integration/controllers/userController.test.js
  tests/unit/controllers/userController.test.js
Labels: 🧪 Tests

#48 Feature/15 delete user
  openapi.md
  openapi.yaml
  src/controllers/userController.js
  src/routes/userRoutes.js
Labels: 🚀 Feature, size/s

#49 Feature/17 password change
  openapi.md
  openapi.yaml
  populators/User.js
  src/controllers/userController.js
  src/routes/userRoutes.js
  src/validators/userValidator.js
Labels: 🚀 Feature, size/s

#51 fix: added method and roles check together
  src/middleware/authMiddleware.js
  tests/unit/middleware/authMiddleware.test.js
Labels: 🧪 Tests, 🕵🏻 Fix, size/s

#58 feat: changed redis-node to ioredis
  package-lock.json
  package.json
  src/config/index.js
  src/config/redis.js
  src/controllers/userController.js
  src/middleware/validationMiddleware.js
  tests/integration/controllers/userController.test.js
  tests/integration/controllers/validationController.test.js
  tests/setup/setup.js
Labels: 📦 Dependencies, 😎 size/m, 🧪 Tests

#55 Fix/54 api versioning
  .env.example
  Dockerfile
  docker-compose.yml
  openapi.yaml
  package-lock.json
  package.json
  src/api.js
Labels: 📦 Dependencies, ⚙️ Configuration, 🐳 Build, size/s

#60 Feature/19 2fa
  .env.example
  openapi.md
  openapi.yaml
  package-lock.json
  package.json
  src/controllers/userController.js
  src/routes/userRoutes.js
  src/schemas/User.js
  src/validators/userValidator.js
  tests/integration/controllers/userController.test.js
  tests/unit/controllers/userController.test.js
Labels: 📦 Dependencies, 🧪 Tests, ⚙️ Configuration, 😖 size/l

#64 fix: changed req.ip to use x-forwarded-for unless not available
  openapi.yaml
  src/controllers/userController.js
  src/controllers/validationController.js
  src/middleware/authMiddleware.js
  src/middleware/validationMiddleware.js
Labels: size/s

#61 Test/16 delete user
  src/config/redis.js
  src/controllers/userController.js
  tests/integration/controllers/userController.test.js
  tests/unit/controllers/userController.test.js
Labels: 😎 size/m, 🧪 Tests

#62 Test/18 password change
  tests/integration/controllers/userController.test.js
  tests/unit/controllers/userController.test.js
Labels: 😎 size/m, 🧪 Tests

#66 v1.0.0
  .env.example
  .github/workflows/api-doc.yml
  .github/workflows/docker-deploy.yml
  .github/workflows/pr-size-labeler.yml
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  README.md
  docker-compose.yml
  eslint.config.mjs
  openapi.md
  openapi.yaml
  package-lock.json
  package.json
  populators/Role.js
  populators/User.js
  src/api.js
  src/config/index.js
  src/config/logger.js
  src/config/redis.js
  src/controllers/userController.js
  src/controllers/validationController.js
  src/index.js
  src/middleware/authMiddleware.js
  src/middleware/validationMiddleware.js
  src/routes/userRoutes.js
  src/routes/validationRoutes.js
  src/schemas/Role.js
  src/schemas/User.js
  src/utils/kafkaTransport.js
  src/validators/userValidator.js
  tests/integration/controllers/userController.test.js
  tests/integration/controllers/validationController.test.js
  tests/integration/routes/dummy
  tests/sample.test.js
  tests/setup/database.js
  tests/setup/setup.js
  tests/unit/controllers/userController.test.js
  tests/unit/controllers/validationController.test.js
  tests/unit/middleware/authMiddleware.test.js
  tests/unit/middleware/validationMiddleware.test.js
  tests/unit/routes/dummy
  tests/unit/schemas/dummy
  tests/unit/utils/dummy
  vitest.config.js
Labels: 📦 Dependencies, 🚀 CI/CD, 🧪 Tests, ⚙️ Configuration, 📝 Documentation, 🤯 size/xl, 🐳 Build

#69 chore: updated openapi.yaml
  openapi.yaml
Labels: size/xs

#72 Added support for MacOS in docker
  .github/workflows/trigger-api-sync.yml
  .gitignore
  README.md
  docker-compose.yml
  kubernetes/authorization-svc-deployment.yaml
  kubernetes/authorization-svc-service.yaml
  kubernetes/dragonfly-auth-persistentvolumeclaim.yaml
  kubernetes/dragonfly-deployment.yaml
  kubernetes/dragonfly-service.yaml
  kubernetes/mongo-auth-persistentvolumeclaim.yaml
  kubernetes/mongodb-deployment.yaml
  kubernetes/mongodb-service.yaml
  openapi.yaml
  package-lock.json
  package.json
Labels: 📦 Dependencies, 🚀 CI/CD, 😎 size/m, ⚙️ Configuration, 📝 Documentation, 🐳 Build

#78 feat: added request id to logs
  src/controllers/userController.js
  src/controllers/validationController.js
  src/middleware/authMiddleware.js
  src/middleware/validationMiddleware.js
Labels: size/s

#80 fix: updated deprecated kafka-node
  kubernetes/secrets.yaml
  package-lock.json
  package.json
  src/utils/kafkaTransport.js
Labels: 📦 Dependencies, size/s

#82 v1.1.0
  .gitignore
  openapi.md
  openapi.yaml
  package-lock.json
  package.json
  src/api.js
  src/controllers/tokenController.js
  src/controllers/userController.js
  src/controllers/validationController.js
  src/middleware/authMiddleware.js
  src/middleware/validationMiddleware.js
  src/routes/tokenRoutes.js
  src/routes/userRoutes.js
  src/routes/validationRoutes.js
  src/utils/generateTokens.js
  src/utils/kafkaTransport.js
  tests/integration/controllers/tokenController.test.js
  tests/integration/controllers/validationController.test.js
  tests/unit/controllers/tokenController.test.js
  tests/unit/controllers/validationController.test.js
  tests/unit/middleware/validationMiddleware.test.js
Labels: 📦 Dependencies, 🧪 Tests, ⚙️ Configuration, 🤯 size/xl
